/* 测试样式隔离 */

/* shadow DOM模式，可以使用全局伪类 */
/* :root {
    background-color: #242424;
} */
/* div {
  background-color: yellowgreen;
} */
@media only screen and (max-width: 800px) {
  div {
    background-color: lightblue;
  }
}
img {
  display: inline-block;
}
#app1 {
  text-align: center;
}